/* calendar.component.css */

/* calendar.component.css */

  
.demo-inline-calendar-card {
  width: 280px;
}


.calendar-container {
  flex: 1; /* Allow the calendar container to grow and fill available space */
}

.schedule-container {
  flex: 0 0 180px; /* Fixed width for schedule container */
}

button{
  margin: 2px;
}

.mat-calendar{
  border: 2px solid rgb(0, 0, 0);
  height: 80%;
}

.button-reservation{
    background: #162f72;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 4px;
    line-height: 1.2;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
}

button:disabled{
  background-color: rgb(169, 89, 89); /* Reduce the opacity to visually indicate that the button is disabled */
  cursor: not-allowed;
}

button:disabled{
  opacity: 0.5; /* Reduce the opacity to visually indicate that the button is disabled */
  cursor: not-allowed;
}

.delete-button {
  margin-left: 50px;
}

.reservation-card{
  width: 40px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin: 5px; /* Adjust margin as needed */

}


.user-res {
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 1.5em;
  padding: 1em;
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 12px;
}


.container{
  display: flex;
  background-color: rgb(92, 90, 90);
  border: 2px solid rgb(255, 255, 255);
  height: 420px;
  border-radius: 10px;
  margin-top: 5%;
}

.reservation-info {
  flex: 1;
}

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.reservation-list {
  height: 180px; /* Set maximum height for the scrollable section */
  width: 430px;
  overflow-y: auto; /* Enable vertical scrolling */
}


.text1{
  font-size: 13px;
   color: #444242;
}

.reservation-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


