<app-navbar></app-navbar>
<div class="container">
  <div class="calendar-container">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar
        [(selected)]="selectedDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (selectedChange)="onDateSelected($event)"
        class="size-calender"
      ></mat-calendar>
    </mat-card>
  </div>
  <div class="schedule-container" *ngIf="selectedDate">
    <ul>
      <li *ngFor="let schedule of hourSchedulesFootball">
          <button class="button-reservation"
          matTooltip="Select the time slot"
          [disabled]="schedule.reserved"
          [color]="schedule.reserved ? '' : 'primary'"
          (click)="
            saveReservation(selectedDate, schedule, 'Fotball', schedule)
          "
        >
          {{ schedule.time }}
        </button>
          
      </li>
    </ul>
  </div>
  <div class="schedule-container" *ngIf="selectedDate">
    <ul>
      <li *ngFor="let schedule of hourSchedulesBasketball"> 
          <button class="button-reservation"
          matTooltip="Select the time slot"
          [disabled]="schedule.reserved"
          [color]="schedule.reserved ? '' : 'primary'"
          (click)="
            saveReservation(selectedDate, schedule, 'Basketball', schedule)
          "
        >
          {{ schedule.time }}
        </button>
      </li>
    </ul>
  </div>
  <div class="schedule-container" *ngIf="selectedDate">
    <ul>
      <li *ngFor="let schedule of hourSchedulesTenis">
          <button class="button-reservation"
          matTooltip="Select the time slot"
          [disabled]="schedule.reserved"
          [color]="schedule.reserved ? '' : 'primary'"
          (click)="saveReservation(selectedDate, schedule, 'Tenis')"
        >
          {{ schedule.time }}
      </button>
       
      </li>
    </ul>
  </div>
</div>

<div class="reservation-container">
  <div class="reservation-list">
    <ul>
      <li *ngFor="let reservation of reservations" class="user-res">
        <div class="reservation-info">
          <span class="text1"
            ><strong>Date:</strong> {{ reservation.reservationDate }},
          </span>
          <span class="text1"
            ><strong>Time Slot:</strong> {{ reservation.hourSchedule }}</span
          >
          <br />
          <span class="text1"
            ><strong>Court:</strong> {{ reservation.court }}</span
          >
          <br />
        </div>
        <div class="delete-button">
          <button
            mat-icon-button
            matTooltip="Delete the reservation"
            color="warn"
            aria-label="Delete"
            (click)="deleteReservation(reservation.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<
