.demo-inline-calendar-card {
  width: 280px;
}

.calendar-container{
 margin-right: 20%;
 margin-left: 12%;
}

.schedules-list ul{
  list-style-type: none;
}

.title{
  border: 1px solid white;
  border-radius: 6px;
  background-color: grey;
  text-align: center;
}

.schedule-container {
  flex: 0 0 180px;
  margin-right: 2%;
  text-align: center;
}

button{
  margin: 2px;
}

.mat-calendar{
  border: 2px solid rgb(0, 0, 0);
  height: 80%;
}

.button-reservation{
    background: #1553af;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 4px;
    line-height: 1.2;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
}

button:disabled{
  background-color: rgb(200, 47, 47);
  cursor: not-allowed;
}

.delete-button {
  margin-left: 50px;
}

.reservation-card{
  width: 40px;
  height: 20px; 
  margin: 5px; 
}

.title-sub{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}


.user-res {
  border: 3px solid rgb(0, 0, 0);
  position: relative;
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 1em;
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}


.container{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 7%;
}

.divider2{
  height: 2.0px;
  width: 80%; 
  background-color: rgb(255, 255, 255);
  margin: 0px auto; 
}

.text1{
  font-size: 13px;
   color: #444242;
}

.reservation-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


