<app-navbar-home></app-navbar-home>

<div class="page">
  <div class="col">
    <h1 class="info" style="font-size: 48px">Sport Arena</h1>
  </div>
</div>
<div class="divider2"></div>
<div class="container">
  <div class="col">
    <p class="info">
      Make reservations was never more simplier.Bring your friends and make your
      own reservation that suits best your schedule.
    </p>
  </div>
  <div class="image-gallery">
    <img src="../../assets/basketballcourt.jpeg" class="dimension" />
    <img src="../../assets/football_court.jpg" class="dimension" />
    <img src="../../assets/tenis_court.jpg" class="dimension" />
  </div>
</div>
<div class="divider2"></div>
<div class="container">
  <div class="col">
    <p class="info">
      Find the subscription that fits best for you and pay it directly in our
      app. Discover our training classes and enroll to them.
    </p>
  </div>
  <div class="image-gallery">
    <img src="../../assets/gym.png" class="dimension" />
    <img src="../../assets/gym2.jpg" class="dimension" />
  </div>
</div>
<div class="divider2"></div>
<div class="container">
  <div class="col">
    <p class="info">
      Set collaborations with our trainers and become the best version of
      yourselft. You can create a request for them to start a collaboration.
    </p>
  </div>
  <div class="image-gallery">
    <img src="../../assets/trainers.jpg" class="dimension" />
  </div>
</div>
<div class="divider2"></div>
<div class="container">
  <div class="col">
    <p class="info">
      Contact: arenasportcenter2000&#64;gmail.com
      <br />
      Phone: +401111111111
      <br />
      Adress: Str. Rebreanu, nr.20
      <br />
    </p>
  </div>
</div>
<div class="divider2"></div>
<div class="container" style="display: flex; justify-content: center; margin-bottom: 10%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.668901464421!2d21.23324037558666!3d45.73773447107973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d96a59d2c5d%3A0x7efc2c44a56c62a4!2sGym%20One%202!5e0!3m2!1sro!2sro!4v1714908841047!5m2!1sro!2sro" width="340" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
