<app-navbar-home></app-navbar-home>

<div class="page">
  <div class="col">
    <h1 class="info" style="font-size: 60px;">
        Sport Arena
    </h1>
  </div>
</div>
<div class="divider2"></div>
<div class="container">
    <div class="col">
        <p class="info">
            Make reservations was never more simplier.Bring your friends and make your own reservation that suits best your schedule.You can delete the reservation, in case you can not make it in time.
        </p>
    </div>
    <div class="image-gallery">
        <img src="../../assets/basketballcourt.jpeg">
        <img src="../../assets/tenis_court.jpg">
        <img src="../../assets/football_court.jpg">
    </div>
</div>
    <div class="divider2"></div>
    <div class="container">
    <div class="col">
        <p class="info">
            Find the subscription that fits best for you and pay it directly in our app. Make reservations was never more simplier. Bring your friends and make your own reservation that suits best your schedule.
        </p>
    </div>
    <div class="image-gallery">
        <img src="../../assets/gym.png">
        <img src="../../assets/gym2.jpg">
    </div>
</div>
    <div class="divider2"></div>
    <div class="container">
    <div class="col">
        <p class="info">
            Set collaborations with our trainers and become the best version of yourselft. You can create a request for them to start a collaboration.
        </p>
    </div>   
        <div class="image-gallery">
            <img src="../../assets/trainers.jpg">
        </div>
    </div>
