<app-navbar></app-navbar>
  <div class="container">
  <div class="row justify-content-center align-items-center" style="height: 70vh;">
      <div class="col" >
        <p class="info">Create your reservation by checking the calendar. Delete a reservation in case you can come to it.</p>
        <button class="button" (click)="redirectToReservations()">
          <span>Reservations</span>
        </button>
      </div>
      <div class="col">
        <p class="info">Discover our trainers and snd a collaboration request to them. They will accept/decline your request. </p>
        <button class="button" (click)="redirectToTrainers()">
          <span>Trainers</span>
        </button>
      </div>
      <div class="col" >
        <p class="info">Check our subscriptions and training classes. Enroll to the class that fits best for you and pay your subscription using the application.</p>
        <button class="button" (click)="redirectToGym()">
          <span>Gym</span>
        </button>
      </div>
      <div class="col">
        <p class="info">Your account data and your subscriptions are in the same page. You can update your name and view your subscriptions history.</p>
        <button class="button" (click)="redirectToAccount()">
          <span>Account</span>
        </button>
      </div>
    </div>
  </div>