<app-navbar></app-navbar>
  <div class="container">
  <div class="row justify-content-center align-items-center" style="height: 70vh;">
      <div class="col" >
        <p class="info">Create your reservation by checking the calendar. Delete a reservation in case you can come to it.</p>
        <button class="button" (click)="redirectToReservations()">
          <span>Reservations</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="col">
        <p class="info">Discover our trainers and snd a collaboration request to them. They will accept/decline your request. </p>
        <button class="button" (click)="redirectToTrainers()">
          <span>Trainers</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="col" >
        <p class="info">Check our subscriptions and training classes. Enroll to the class that fits best for you and pay your subscription using the application.</p>
        <button class="button" (click)="redirectToGym()">
          <span>Gym</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="col">
        <p class="info">Your account data and your subscriptions are in the same page. You can update your name and view your subscriptions history.</p>
        <button class="button" (click)="redirectToAccount()">
          <span>Account</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
    </div>
  </div>