/* You can add global styles to this file, and also import other style files */


/*@import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Inter', sans-serif;
    background-color: rgb(39, 49, 90);   
}


.app-notification-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
    text-align: center;
}
  
  .app-notification-success {
    --mdc-snackbar-container-color: rgb(50, 189, 50);
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
    text-align: center;
  }

