
<mat-toolbar color="primary">Sport Center
  <div class="spacer"></div>
<button mat-raised-button color="warn"(click)="logout()">Logout</button>
</mat-toolbar>

  <div class="container">
  <div class="row justify-content-center align-items-center" style="height: 70vh;">
      <div class="col">
        <div class="card" (click)="redirectToReservationsHistory()" matTooltip="Check out the clients reservation history">
          <div class="card-body">
            <h5 class="card-title">Reservations Data</h5>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card" (click)="redirectToGymInformation()" matTooltip="Check out the subscriptions and the classes for this gym">
            <div class="card-body">
              <h5 class="card-title">Subscriptions and classes</h5>
            </div>
          </div>
        </div>
      </div>
    </div>




  