<app-navbar-admin></app-navbar-admin>

  <div class="row justify-content-center align-items-center" style="height: 70vh;">
  <div class="col">
        <p class="info">As admin you can view all reservations made by users (date, court and hourSchedule).</p>
        <button class="button" (click)="redirectToReservationsHistory()">
          <span>Reservations</span>
        </button>
      </div>
      <div class="col" >
        <p class="info">As admin you can update/delete/create subscriptions and upate/delete/create training Classes.</p>
        <button class="button" (click)="redirectToGymInformation()">
          <span>Gym</span>
        </button>
      </div>
      <div class="col" >
        <p class="info">As admin you can view all users data, update their role and create subscriptions for them</p>
        <button class="button" (click)="redirectToUsersInformation()">
          <span>Users</span>
        </button>
      </div>
      </div>




  