.col {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(#4133b7, 0.25);
  background-color: white;
  padding: 1.5rem;
  margin-right: 10px;
  max-width: 470px;
}

.info {
  color: grey;
}

.button {
  font: inherit;
  line-height: 1;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  color: black;
  padding: 0.7em 3em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  justify-content: space-between;
}

.button:hover {
  background-color: black;
  color: white;
}
