<app-navbar-admin></app-navbar-admin>

  <div class="row justify-content-center align-items-center" style="height: 70vh;">
  <div class="col" >
        <p class="info">As admin you can view all reservations made by users (date, court and hourSchedule).</p>
        <button class="button" (click)="redirectToReservationsHistory()">
          <span>Reservations</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="col" >
        <p class="info">As admin you can update/delete/create subscriptions and upate/delete/create training Classes.</p>
        <button class="button" (click)="redirectToGymInformation()">
          <span>Gym</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="col" >
        <p class="info">As admin you can view all users data, update their role and create subscriptions for them</p>
        <button class="button" (click)="redirectToUsersInformation()">
          <span>Users</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
          </svg>
        </button>
      </div>
      </div>




  