.user-profile{
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 420px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.user-profile .title{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.user-profile label{
    margin-top: 20px;
    color: white;
}

.input-container1{
    position: absolute;
    margin-top: 5px; /* Adjust top position as needed */
    left: 40px;
    
}
.input-container2{
    position: absolute;
    margin-top: 5px;
 /* Adjust top position as needed */
    left: 300px; 
}

.input-container3{
    position: absolute;
    margin-top: 40px;
    top:140px; /* Adjust top position as needed */
    left: 40px;
}

.input-container4{
    position: absolute;
    margin-top: 40px; /* Adjust top position as needed */
    top:140px;
    left: 300px;
}


.user-profile input{
    background-color: rgb(184, 144, 35);
    color: black;
    border: 2px solid rgb(106, 93, 93);
    border-radius: 10px;
    outline: none;
    width: 35%;
}

.edit-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px; /* Adjust as needed */
}
 .buttons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

button{
    background: #263ca9;
    color: #ffffff;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    border: 2px solid rgb(65, 63, 63);
}

button:hover {
    filter: contrast(115%);
  }

.mat-expansion-panel {
    /* Set width */
    width: 25%;
    margin-top:40px; /* Set the desired width, for example, 100% of the parent container */
    margin-left: 10px;
  
    /* Set background color */
    background-color: grey;
    color: White;
     /* Set the desired background color */
  
    /* Set size */
    /* You can control the size using padding, margin, or other CSS properties */
     /* Set padding around the panel content */
  }


  .title{
    color: White;
  }

  .inputdata{
    background-color: rgb(200, 150, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }


  .user-subs{
    margin-top: 37%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


th{
    background-color: black !important;
    color: white;
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:14px;
    font-weight: 90;
    padding:24px;
    text-align:left;
    vertical-align:middle;
  }

  .user-subs .active-subscription {
    background-color: rgb(127, 188, 127); /* Change to your desired background color for active subscriptions */
  }
  
  .user-subs tr:not(.active-subscription) {
    background-color: rgb(213, 116, 116); /* Change to your desired background color for inactive subscriptions */
  }

