.user-profile{
    border: 2px solid white;
    width: 540px;
    height: 420px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    margin-top:3%;
}

.user-subs{
  position: relative;
  margin-bottom: 10%;
}

.user-profile .title{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.user-profile label{
  position: relative;
  justify-content: center;
    margin-top: 3%;
    color: white;
}

.user-sub {
  border: 3px solid rgb(0, 0, 0);
  position: relative;
  width: 380px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 1em;
  background: rgb(255, 255, 255);
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.container-card{
justify-content: center;
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}

.subscriptions-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subs-container {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 7%;
}

.subscription-info {
  flex: 1;
}

.text1{
  font-size: 14px;
   color: #444242;
}

.input-container1{
    position: absolute;
    margin-top: 5px;
    left: 40px;
}

.input-container2{
    position: absolute;
    margin-top: 5px;
    left: 300px; 
}

.input-container3{
    position: absolute;
    margin-top: 40px;
    top:140px;
    left: 40px;
}

.input-container4{
    position: absolute;
    margin-top: 40px;
    top:140px;
    left: 300px;
}

.user-profile input{
    background-color: rgb(184, 144, 35);
    color: black;
    border: 2px solid rgb(106, 93, 93);
    border-radius: 10px;
    outline: none;
    width: 38%;
    font-size: 15px;
}

.edit-mode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
 .buttons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.divider2{
    height: 2.0px;
    width: 80%; 
    background-color: #ffffff;
    margin: 0px auto;
    margin-top:5%; 
  }

button{
    background: #263ca9;
    color: #ffffff;
    border-radius: 5px;
    width: 160px;
    padding: 8px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

.input-container1 input,
.input-container2 input,
.input-container3 input,
.input-container4 input{
  text-align: center;
}

.title-sub{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .mat-expansion-panel {
    width: 25%;
    margin-top:40px; 
    margin-left: 10px;
    background-color: grey;
    color: White;
  }

  .title{
    color: White;
  }

  .inputdata{
    background-color: rgb(200, 150, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }

  .trainer-classes{
    position: relative;
    margin-bottom: 20%;
  }

  .active-subscription {
    background-color: rgb(159, 201, 159); /* Change to your desired background color for active subscriptions */
  }


