
.title{
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
  margin-top: 15px;
    
}

  .buttons {
    margin-top: auto; /* Push the buttons to the bottom */
    align-self: flex-end; /* Align buttons to the right */
  }

  .info{
			margin-top: 1px;
  }

  .container {
    margin: 4px solid black; 
    max-width: 550px; /* Adjust as needed */
    left: 40%;
    position: absolute;
    margin-top: 80px;
  }

  .selector{
    position: absolute;
    margin-top: 10px; /* Adjust top position as needed */
    left: 40%;
  }

  .deletebutton{
    position: absolute;
		top: 0;
		right: 0;
		background-color: rgb(131, 131, 131);
		border-radius: 80em 0 0 80em;
		display: flex;
		align-items: center;
		padding: .625em .75em;
		font-size: 200;
		font-weight: 600;
		color: black;
		small {
			font-size: .75em;
			margin-left: .25em;
  }
  }

  .mat-expansion-panel {
    /* Set width */
    width: 24%; /* Set the desired width, for example, 100% of the parent container */
    margin-left: 10px;
    position: relative;
  
    /* Set background color */
    background-color: grey;
    color: White;
     /* Set the desired background color */
  
    /* Set size */
    /* You can control the size using padding, margin, or other CSS properties */
     /* Set padding around the panel content */
  }
  .titlepanel{
    color: White;
  }

  .inputdata{
    background-color: rgb(200, 150, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }

  .user-classes{
    margin-left: 8%;
    position: relative;
  }

  .subscription-list{
    position: relative;
    margin-top: 300px;
  }

  .trainingClass-card{
    margin-left: 30px;
    padding: 5px;
    width: 100hv;
    margin-bottom: 20px;
    border: 2px solid black;
  }

  .subscription-card{
    margin-left: 30px;
    padding: 5px;
    max-width: 500px;
    max-height: 300px;
    margin-bottom: 20px;
    border: 2px solid black;
  }

  .inner {
		padding:10px;
		padding-top: 20px;
		background-color: rgb(121, 141, 172);
		border-radius: 4px;
	  position: relative;
		overflow: hidden;
	}

  .subscriptions{
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
  }

  .title-sub{
    border-bottom: 3px solid white;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }


  .price{
    position: absolute;
		top: 0;
		right: 0;
		background-color: rgb(131, 131, 131);
		border-radius: 80em 0 0 80em;
		display: flex;
		align-items: center;
		padding: .625em .75em;
		font-size: 200;
		font-weight: 600;
		color: black;
		small {
			font-size: .75em;
			margin-left: .25em;
  }
}

