<app-navbar></app-navbar>
<div class="subscription-list">
  <div class="title-sub">
    <h2>Discover our Subscriptions</h2>
  </div>
  <div class="subscriptions">
    <mat-card
      *ngFor="let subscription of subscriptions"
      class="subscription-card"
    >
      <mat-card-header class="card-title">
        <h2 class="title">{{ subscription.subscriptionName }}</h2>
      </mat-card-header>
      <div class="section">
        <p>
          Preț
          <br>
        <span class="info">
          {{ subscription.subscriptionPrice }} RON/ month
        </span>
      </p>
      </div>
      <div class="divider"></div>
      <div class="section">
      <p>
        Descriere
        <br>
        <span class="info">{{ subscription.subscriptionDescription }}
      </span>
      </p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <p>
        Nr. zile
        <br>
        <span class="info"> {{subscription.subscriptionTime}} 
        </span>
      </p>
    </div>
      <div class="divider"></div>
      <div class="section">
        <button class="button-edit"
          *ngIf="!hasActiveSubscription"
          matTooltip="Pay using your card"
          (click)="goToCheckoutPage(subscription.id)"
        >
          <mat-icon>payment</mat-icon> Get your subscription
        </button>
    </div>
    </mat-card>
  </div>
</div>

<div class="divider2"></div>


<div class="trainingClasses">
  <div class="title-sub">
    <h2>Discover our Training Classes</h2>
  </div>

  <div class="container">
    <mat-card
      *ngFor="let trainingClass of trainingClassesData"
      class="trainingClass-card"
    >
    <mat-card-header class="card-title">
        <h2 class="title">{{ trainingClass.className }}</h2>
      </mat-card-header>
      <div class="section">
        <p>
          Date
          <br>
          <span class="info">
            {{ trainingClass.localDate }}, {{ trainingClass.startTime }}
          </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Duration
           <br>
           <span class="info">
            {{ trainingClass.duration }} mins
          </span>
        </p>
      </div>
        <div class="divider"></div>
        <div class="section">
          <p>
            Intensity<br>
          <span class="info">{{ trainingClass.intensity }}</span>
        </p>
        </div>
        <div class="divider"></div>
        <div class="section">
        <p>
          Trainer<br>
          <span class="info">
          {{ trainingClass.firstName }} {{ trainingClass.lastName }}
          </span>
        </p>
      </div>
        <div class="divider"></div>
        <div class="section">
          <button
            class="button-edit"
            *ngIf="!isEnrolled"
            (click)="enrollUserToTrainingClass(trainingClass.id)"
          >
            Enroll To Training Class
          </button>
        </div>
    </mat-card>
  </div>

  <div class="divider2"></div>
  
  <div class="user-classes">
    <br>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="titlepanel">
          Your Training Classes
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let classData of userTrainingClassesData">
        <div class="inner2">
          <p class="info">
            {{ classData.className }} on {{ classData.localDate }} at
            {{ classData.startTime }}
            <button
              mat-icon-button
              matTooltip="Drop out from class"
              color="warn"
              aria-label="Delete"
              (click)="dropOutOfTrainingClass(classData.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </p>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>

