
  .mat-expansion-panel {
    width: 24%;
    margin-left: 10px;
    position: relative;
    background-color: grey;
    color: White;
  }

  .button-drop{
    justify-content: center;
    width: 80%;
  }

  .inputdata{
    background-color: rgb(200, 150, 0);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }


  .user-classes{
    margin-top: 3%;
    border-radius: 2px solid black;
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
    margin-bottom: 200px;
  }

  .subscription-list{
    position: relative;
  }

  .divider2{
    height: 2.0px;
    width: 80%; 
    background-color: hsl(0, 0%, 0%);
    margin: 0px auto; 
  }

  .container{
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
  }

  .trainingClass-card{
    margin: 8px;
    width: 280px;
    height: 520px;
    border: 2px solid black;
    border-radius: 15px;
  }

  .subscriptions{
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
  }

   .subscription-card{
    margin: 8px;
    width: 250px;
    height: 460px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 15px;
  }

  .price-user{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
  }

  .info{
    color: black;
    font-size: 16px;
    font-weight: 700;
  }

  .section{
    padding: 10px 0;
    text-align: center;
    color: #918f8f;  
  }

  .inner2 {
		background-color: rgb(255, 255, 255);
		border: 2px solid white;
    border-radius: 7px;
	  position: relative;
		overflow: hidden;
    margin-bottom:1.5px;
	}

  .card-title{
    background-color: rgb(111, 202, 111);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
  }

  .divider{
    height: 0.5px;
    width: 60%; 
    background-color: #b3b0b0;
    margin: 0px auto; 
}

  .title{
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(5, 5, 5);
    margin-top: 20%;
  }


  .title-sub{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }


