
<app-navbar></app-navbar>
<div class="trainingClasses">
    <div class="title">Discover our Training Classes</div>
    
    <div class="selector">
        <mat-form-field>
            <mat-label>Select a Training Class</mat-label>
            <mat-select [(ngModel)]="selectedTrainingClassId" name="trainingClass" (selectionChange)="selectionChangeHandler($event)">
                <mat-option *ngFor="let trainingClass of trainingClassesData" [value]="trainingClass.id">
                    {{ trainingClass.className }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-card *ngIf="selectedTrainingClass" >
            <div class="deletebutton">
                <button mat-icon-button class="close-button" (click)="closeCard()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
          <div class="card">
            <!-- Your card HTML structure here -->
            <h3>{{ selectedTrainingClass.className }}</h3>
            <p>Date: {{ selectedTrainingClass.localDate }} at {{selectedTrainingClass.startTime}}, duration {{selectedTrainingClass.duration}} mins</p>
            <p>Intensity: {{selectedTrainingClass.intensity}}</p>
            <p>Trainer: {{selectedTrainingClass.firstName}} {{selectedTrainingClass.lastName}}</p>
            <div class="button-container">
                <div class="button-container">
                    <button class="button-drop" mat-raised-button color="primary" *ngIf="!isEnrolled" (click)="enrollUserToTrainingClass(selectedTrainingClass.id)">
                      Enroll To Training Class
                    </button>
                    <button class="button-drop" mat-raised-button color="warn" *ngIf="isEnrolled" (click)="dropOutOfTrainingClass(selectedTrainingClass.id)">
                      Drop out from class
                    </button>
                  </div>
              </div>
          </div>
        </mat-card>
      </div>
      <div class="user-classes">
        <mat-expansion-panel  (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title class="titlepanel">
        Your Training Classes
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let classData of userTrainingClassesData">
        <div class="inputdata">
        <p>{{ classData.className }} on {{ classData.localDate }} at {{classData.startTime}}</p>
        </div>
        </div>
        </mat-expansion-panel>
    </div>
</div>

<div class="subscription-list">
    <div class="title-subscription">Discover our Subscriptions</div>
    <div class="subscriptions">
        <mat-card *ngFor="let subscription of subscriptions" class="subscription-card">
            <mat-card-header>
                <mat-card-title>{{ subscription.subscriptionName }}</mat-card-title>
                    <div class="price">{{ subscription.subscriptionPrice }} RON/month</div>
                </mat-card-header>
            <mat-card-content>{{subscription.subscriptionDescription}}</mat-card-content>
            <mat-card-actions>
            <button *ngIf="!hasActiveSubscription" mat-raised-button matTooltip="Pay using your card" color="primary" (click)="goToCheckoutPage(subscription.id)">Get your subscription</button>
            <mat-icon>payment</mat-icon>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
</div>



    