
.mat-dialog-title {
  text-align: center;
  font-size: 10px;
}

.title{
  margin-bottom: 1%;
  font-size: 25px;
  text-align: center;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}
