

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    
  }

  .infoName-lable{
    margin-bottom: 20px;
  }

  .labelClass{
    margin-bottom: 20px;
  }

  .card-user-name{
    margin-bottom: 30px;
  }

  .userName{
    width: 100%;
  }

  button {
    background: #17266d;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }

  button:disabled{
    opacity: 0.5; /* Reduce the opacity to visually indicate that the button is disabled */
    cursor: not-allowed;
  }

  #card-element {
    margin-bottom: 24px;
  }

  form {
    width: 30vw;
    align-self: center;
    border-radius: 7px;
    border: 3px solid black;
    padding: 30px;
  } 