<div class="container">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Subscription: {{ subscriptionResponse.subscriptionName }}</mat-card-title>
      <mat-card-title>Price: {{ subscriptionResponse.subscriptionPrice }}</mat-card-title>
    </mat-card-header>
<form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">

    <div class="user-info">
        <div class="infoName-lable">
            <label for="user-fieldset">
            <span class="TextUser">CardHolder name</span>
            </label>
        </div>
    <div class="card-user-name">
       <span class="InputContainer">
        <input type="text" class="userName" placeholder="Full name on the card">
       </span> 
    </div>
    </div>
    <div class="cards-data">
        <div class="labelClass">
        <label for="user-fieldset">
            <span class="TextUser">Card information</span>
        </label>
        </div>
    <div id="card-element">
        <!-- Stripe card element will be mounted here -->
    </div>
    <div class="text-center">
        <button type="submit" class="primary">Pay</button>
    </div>
    <div id="card-errors" class="displayError.textContent !=='': 'alert alert-danger mt-1' " ></div>
</div>
</form>
</mat-card>
</div>
