<app-navbar></app-navbar>

<div class="container">
  <div class="title">Trainers</div>
  <div class="trainers-container">
    <mat-card *ngFor="let trainer of trainers" class="trainer-card">
      <div class="section">
        <p>
          Trainer
          <br />
          <span class="info">
            {{ trainer.firstName }} {{ trainer.lastName }}
          </span>
        </p>
        <div class="divider"></div>
        <p>
          Email
          <br />
          <span class="info">
            {{ trainer.email }}
          </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <button class="button-edit"
          matTooltip="Send a collaboration request"
          aria-label="Collaboration"
          (click)="collabWithTrainer(trainer.id)"
        >Collaboration Request
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div class="divider2"></div>

<div class="title">Collaborations History</div>
<div class="reservation-container">
  <div class="reservation-list">
    <ul>
      <li *ngFor="let collaboration of userCollaborations" class="user-res">
        <div class="reservation-info">
          <span class="text1"
            ><strong>Trainer:</strong> {{ collaboration.firstName }} {{ collaboration.lastName }}
          </span>
          <br>
          <span class="text1">
            <ng-container *ngIf="collaboration.collaborationStatus == 'PENDING'">
              <strong>Status:</strong> PENDING
              <button
                mat-raised-button
                color="primary"
                (click)="declineRequest(collaboration.collaborationId)"
              >
                Remove the collaboration Request
              </button>
            </ng-container>
            <ng-container *ngIf="collaboration.collaborationStatus == 'ACCEPTED'">
              <strong>Status:</strong> ACCEPTED
              <br />
              <span>Start Date: {{ collaboration.startTime }}</span>
            </ng-container>
            <ng-container *ngIf="collaboration.collaborationStatus == 'ENDED'">
              <strong>Status:</strong> ENDED
              <br />
              <span>From: {{ collaboration.startTime }} to
                {{ collaboration.endTime }}</span
              >
            </ng-container></span
          >
        </div>
      </li>
    </ul>
  </div>
</div>
