<app-navbar-admin></app-navbar-admin>
<div class="container">

<div class="sub-container">
    <div class="createSub">
        <button mat-raised-button matTooltip="Add a new subscription for the user" color="primary" (click)="OpenAddUserSubscriptionPopUp()">Add subscription(+)</button>
    </div>
    <div class="subs-container"> 
    <div class="subscriptions-list">
        <ul>
            <li
              *ngFor="let subscription of userSubscriptionsData"
              class="user-sub"
              [ngClass]="{
                'active-subscription': isSubscriptionActive(subscription.endDate)
              }"
            >
              <div class="subscription-info">
                <span class="text1"
                  ><strong>Price:</strong> {{ subscription.subscriptionPrice }},
                </span>
                <span class="text1"
                  ><strong>Start Time:</strong> {{ subscription.startDate }}</span
                >
                <br />
                <span class="text1"
                  ><strong>End Time:</strong> {{ subscription.endDate }}</span
                >
                <br />
              </div>
            </li>
          </ul>
    </div>
</div>
</div>
</div>
