.subs-table{
    margin-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

th{
    background-color: black !important;
    color: white;
  }

 .createSub {
    position: absolute;
    top:15%;
/* Adjust top position as needed */
    right: 420px; /* Adjust right position as needed */
  }

  .subs-table .active-subscription {
    background-color: rgb(127, 188, 127); /* Change to your desired background color for active subscriptions */
  }
  
  .subs-table tr:not(.active-subscription) {
    background-color: rgb(213, 116, 116); /* Change to your desired background color for inactive subscriptions */
  }