
mat-card{
  margin: 2%;
}

button{
  margin: 2px;
}

th{
  background-color: black !important;
  color: white;
}

.continer-table mat-card {
  margin: 5%; /* Apply margin only to mat-card elements within .continer-table */
}
