

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.payment-card{
  width: 30vw;
  align-self: center;
  border-radius: 7px;
  border: 2px solid black;
  padding: 25px;
  width: 480px;
}

  .card-data{
    margin-bottom: 5%;
  }

  button {
    background: #17266d;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }

  button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }

  #card-element {
    margin-bottom: 5%;
  }
