
.container{
  margin-top: 25px;
}

.subscriptions{
  margin-top: 3%;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-content {
    display: flex;
    align-items: center;
  }

  .price{
    margin-left: auto;
  }

  .divider2{
    height: 2.0px;
    width: 80%; 
    background-color: hsl(0, 0%, 100%);
    margin: 0px auto; 
  }

  .info{
    color: black;
    font-size: 16px;
    font-weight: 700;
  }

  .trainingClass-card{
    margin: 8px;
    width: 280px;
    height: 520px;
    border: 2px solid rgb(255, 255, 255);
  }

  .button-edit{
    background: #263ca9;
    color: #ffffff;
    border-radius: 5px;
    width: 160px;
    padding: 4px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .button-clear{
    background: #d42d2d;
    color: #ffffff;
    border-radius: 5px;
    width: 160px;
    padding: 4px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
  }

  .divider{
    height: 0.5px;
    width: 60%; 
    background-color: #b3b0b0;
    margin: 0px auto; 
}

  .subscriptions{
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
  }

  .section{
    padding: 10px 0;
    text-align: center;
    color: #918f8f;  
  }

  .price-user{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
  }

  .intensity{
    margin-top: 40px;
    margin-left: auto;
  }

  .card-title{
    background-color: rgb(117, 154, 196);
    justify-content: center;
  }

  .container{
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
    margin-bottom: 8%;
  }

  .subscription-card{
    margin: 8px;
    width: 250px;
    height: 460px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
  }

  .createSub{
    margin-top: 2%;
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
  }

  .container {
    position: relative;
  }

  .training-data{
    position: absolute;
    margin-top: 90px;
    top: 100px;
    right: 5px;
  }
  
  .createTrainingClass{
    margin-top: 2%;
    justify-content: center;
    display: flex;
	  align-items: flex-start;
	  flex-wrap: wrap;
}

  .subscription-list{
    position: relative;
  }

  button:hover {
    filter: contrast(115%);
  }

  .deletebutton{
    position: absolute;
    margin-top: 0px;
    top: 5px;
    right: 5px;
  }


