<app-navbar-admin></app-navbar-admin>
<div class="subscription-list">
  <div class="createSub">
    <button
      mat-raised-button
      matTooltip="Create a new subscription"
      color="primary"
      (click)="OpenCreatePopUp()"
    >
      Create Subscription (+)
    </button>
  </div>
  <div class="subscriptions">
    <mat-card
      *ngFor="let subscription of subscriptions"
      class="subscription-card"
    >
      <mat-card-header class="card-title">
        <h2 class="title">{{ subscription.subscriptionName }}</h2>
      </mat-card-header>
      <div class="section">
        <p>
          Preț
          <br />
          <span class="price-user">
            {{ subscription.subscriptionPrice }} RON/ month
          </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Descriere
          <br />
          <span class="info">{{ subscription.subscriptionDescription }} </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Nr. zile
          <br />
          <span class="info"> {{ subscription.subscriptionTime }} </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <button
          mat-raised-button
          matTooltip="Update the subscription data"
          color="primary"
          (click)="OpenEditTrainingClassPopUp(selectedTrainingClass.id)"
        >
          Edit
        </button>
        <button
          mat-raised-button
          matTooltip="Delete the trainingClass"
          color="warn"
          aria-label="Delete"
          (click)="deleteTrainingClass(selectedTrainingClass.id)"
        >
          Delete
        </button>
      </div>
    </mat-card>
    <br />
  </div>
</div>

<div class="divider2"></div>

<div class="trainingClasses">
  <div class="createTrainingClass">
    <button
      mat-raised-button
      matTooltip="Create a new trainingClass"
      color="primary"
      (click)="OpenCreateTrainingClassPopUp()"
    >
      Create TrainingClass (+)
    </button>
  </div>
  <div class="container">
    <mat-card
      *ngFor="let trainingClass of trainingClassesData"
      class="trainingClass-card"
    >
      <mat-card-header class="card-title">
        <h2 class="title">{{ trainingClass.className }}</h2>
      </mat-card-header>
      <div class="section">
        <p>
          Date
          <br />
          <span class="info">
            {{ trainingClass.localDate }}, {{ trainingClass.startTime }}
          </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Duration
          <br />
          <span class="info"> {{ trainingClass.duration }} mins </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Intensity<br />
          <span class="info">{{ trainingClass.intensity }}</span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <p>
          Trainer<br />
          <span class="info">
            {{ trainingClass.firstName }} {{ trainingClass.lastName }}
          </span>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <button mat-raised-button matTooltip="Update the training class data" color="primary" (click)="OpenEditTrainingClassPopUp(trainingClass.id)">Edit</button> 
        <button mat-raised-button matTooltip="Delete the trainingClass" color="warn" aria-label="Delete" (click)="deleteTrainingClass(trainingClass.id)">Delete</button>
      </div>
    </mat-card>
  </div>
</div>
