mat-card{
    background-color: rgb(243, 222, 182);
    width: 500px; /* Set the width as desired */
    height: 170px;
    font-weight: bold; 
}

.container{
  margin-top: 25px;
}

mat-card-title{
    font-size: 15px;
    font-weight: bold; 
}

.header-content {
    display: flex;
    align-items: center;
  }

  .price{
    margin-left: auto;
  }

  .intensity{
    margin-top: 40px;
    margin-left: auto;
  }
  .subscriptions{
    position: absolute;
    margin-left: -60px;
    top: 10px;
  }
  
  .trainingCard{
    background-color: rgb(192, 190, 240);
    width: 500px; /* Set the width as desired */
    height: 270px;
    font-weight: bold; 
  }


  mat-card-subtitle {
    color: #575757; /* Change the color as needed */
    font-size: 15px; /* Change the font size as needed */
    margin-left: 400px;
  }

  .subscription-card {
    margin-top: 15px; /* Adjust the margin as needed to create space between cards */
  }

  .container {
    position: relative;
  }

  /* .container2 {
    position: absolute;
    margin-top: 40px;
    top: 40px; 
    right: 10px;
  } */
  .selector{
    position: absolute;
    margin-top: 60px;
    top: 60px; /* Adjust top position as needed */
    right: 10px;
  }

  .training-data{
    position: absolute;
    margin-top: 90px;
    top: 100px; /* Adjust top position as needed */
    right: 5px;
  }

  
  .createSub {
    position: absolute;
    margin-top: 20px;
    top: 10px; /* Adjust top position as needed */
    right: 420px; /* Adjust right position as needed */
  }

  .createTrainingClass{
    position: absolute;
    margin-top: 20px;
    top: 10px; /* Adjust top position as needed */
    right: 10px; 
}

  .mat-form-field {
    flex: 1; /* Take up remaining space */
    max-width: 200px; /* Limit the maximum width */
    margin-right: 20px; /* Add some spacing between the elements */
  }

  .deletebutton{
    position: absolute;
    margin-top: 0px;
    top: 5px; /* Adjust top position as needed */
    right: 5px;
  }


