<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: rgb(39, 49, 90);
        }

        .message{
            margin-top: 3%;
            color: white;
            margin-bottom: 5%;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Account</title>
</head>
<body>
<div class="message">
    <h1 th:text="${message}"></h1>
</div>
</body>
</html>