.container{
    border: 2px solid;
    position: absolute;
    top: 43%;
    left: 50%;
    width: 420px;
    height: 560px;
    transform: translate(-50%, -50%);
    background: rgba(29, 25, 25, 0.8);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    border: 2px solid rgb(157, 154, 154);
}

.container .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    width: 370px;
    text-align: center;
    line-height: 58px;
}
.container .form{
    padding: 10px 30px 50px 30px;
    position: relative;
}

.container form .form-group{
    position: relative;
    margin-top: 15px;
    height: 90%;
    width: 100%;
    margin-bottom: 5px;
}

.bottom-section {
    border-top:3px solid white;
    margin-top:600px;
    color: white;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-info p {
    margin: 0 10px;
}


.container form .form-group input{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

.container form .form-group input::placeholder{
    color: #bbb;
    font-weight: 300;
}

.container form .form-group label{
    color: white;
    font-weight: 200;
}

button{
    background: #162f72;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(65, 63, 63);
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 4px;
}

button:hover {
    filter: contrast(115%);
  }

  button:disabled{
    opacity: 0.5; /* Reduce the opacity to visually indicate that the button is disabled */
    cursor: not-allowed;
  }
