
<div class="container">
    <span class="title">Sign Up</span>
        <form #authForm="ngForm" (ngSubmit)="onSubmitSignUp(authForm)">
            <div class="form-group">
                <input type="text" placeholder="First Name"id="firstName" class="form-control" ngModel name="firstName" required/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name" id="lastName" class="form-control" ngModel name="lastName" required/>
            </div>
            <div class="form-group">
                <input type="email" id="email" placeholder="Email" class="form-control" ngModel name="email" required email/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" id="password" class="form-control" ngModel name="password" required minlength="8"/>
            </div>
            <br>
            <div class="buttons">
                <button class="signup-btn" type="submit"  [disabled]="!authForm.valid">Sign Up</button>
                <button class="login-btn"  type="button" routerLink="/login">Switch to Log In</button> 
            </div>
            <div class="button-section2">
                <span class="text1"> Forgot your password?</span>
                <a class="reset-btn" routerLink="/recoverPass">Update your password</a>
            </div>
        </form>
</div>
<div class="bottom-section">
    <p><mat-icon>phone</mat-icon> +1234567890</p>
    <p><mat-icon>schedule</mat-icon> 16-23(Gym + Courts)</p>
    <p><mat-icon>alternate_email</mat-icon> sportarena.com</p>
</div>