
<div class="container">
    <div class="title">Create an account</div>
        <form #authForm="ngForm" (ngSubmit)="onSubmitSignUp(authForm)">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" placeholder="First Name"id="firstName" class="form-control" ngModel name="firstName" required/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" placeholder="Last Name" id="lastName" class="form-control" ngModel name="lastName" required/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email" class="form-control" ngModel name="email" required email/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" class="form-control" ngModel name="password" required minlength="8"/>
            </div>
            <div class="form-group-check">
                <label for="adminCheckbox">Admin</label>
                <input type="checkbox" [(ngModel)]="isAdmin" name="isAdmin">
            </div>
            <div class="buttons">
                <button class="signup-btn" type="submit"  [disabled]="!authForm.valid">Sign Up</button>
                <button class="login-btn"  type="button" routerLink="/login">Switch to Log In</button>
                <button class="reset-btn"  type="button" routerLink="/recoverPass">Forgot your Password</button>
            </div>
            <div *ngIf="alertMessage" class="alert-message">
                    {{alertMessage}}
            </div>
            <div *ngIf="succesfullMessage" class="success-message">
                 {{succesfullMessage}}
            </div>
        </form>
</div>