<div class="container">
            <div class="title">Glad to have you back</div>
                <form #loginForm="ngForm" (ngSubmit)="onSubmitLogIn(loginForm)">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" placeholder="Email"  id="email" class="form-control" ngModel name="email" required email/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" id="password" class="form-control" ngModel name="password" required minlength="8"/>
                    </div>
                    <div class="buttons">
                        <button class="login-btn"  type="submit" [disabled]="!loginForm.valid">Log In</button>
                        <button class="signup-btn" type="button" routerLink="/authentication">Switch to Sign Up</button>
                        <button class="reset-btn"  type="button" routerLink="/recoverPass">Forgot your password?</button>
                    </div>
                </form>
                <div *ngIf="alertMessage" class="alert-message">
                    {{alertMessage}}
                </div>
    </div>

