
<div class="container">
            <div class="title">Log In</div>
                <form #loginForm="ngForm" (ngSubmit)="onSubmitLogIn(loginForm)">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" placeholder="Email"  id="email" class="form-control" ngModel name="email" required email/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" class="form-control" placeholder="Password" ngModel required password>
                    </div>
                    <div style="color: white;">
                        <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword=!user.showPassword">
                        Show Password
                    </div>
                    <br>
                    <div class="buttons">
                        <button class="login-btn"  type="submit" [disabled]="!loginForm.valid">Log In</button>
                        <button class="signup-btn" type="button" routerLink="/authentication">Switch to Sign Up</button>
                        <button class="reset-btn"  type="button" routerLink="/recoverPass">Forgot your password?</button>
                    </div>
                </form>
                
    </div>
    <div class="bottom-section">
        <div class="contact-info">
            <p><mat-icon>phone</mat-icon> +1234567890</p>
            <p><mat-icon>schedule</mat-icon> 16-23(Gym + Courts)</p>
            <p><mat-icon>alternate_email</mat-icon> sportarena.com</p>
        </div>
    </div>




    

