<div class="container">
        <div *ngIf="!resetPasswordFormSubmitted">
            <div class="title">Update your passoword</div>
        <form #recoverPasswordForm="ngForm" (ngSubmit)="onSubmitResetPassword(recoverPasswordForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email" class="form-control" ngModel name="email" required email/>
            </div>
            <div class="buttons">
                <button class="send-email"  type="submit"  [disabled]="!recoverPasswordForm.valid">Send email</button>
                <button class="signup-btn"  type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/authentication">Switch to Sign Up</button>
                <button class="login-btn"   type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/login">Switch to Log In</button>
            </div>
            <div *ngIf="alertMessageResetEmail" class="alert-message" >
                {{alertMessageResetEmail}}
            </div>
        </form>
        </div>
        <div *ngIf="resetPasswordFormSubmitted">
            <div class="title">Update your password</div>
            <form #recoverPasswordForm="ngForm" (ngSubmit)="onSubmitUpdatePassword(recoverPasswordForm)">
                <div class="form-group">
                    <label for="newPassword">NewPassword</label>
                    <input type="password" id="newPasword" placeholder="Password" class="form-control" ngModel name="newPassword" required password/>
                </div>
                <div class="form-group">
                    <label for="confirmedPassword">ConfirmedPassword</label>
                    <input type="password" id="confirmedPassword" placeholder="Confirm Password" class="form-control" ngModel name="confirmedPassword" required password/>
                </div>
                <div class="buttons">
                    <button class="update-pass" type="submit"  [disabled]="!recoverPasswordForm.valid"> UpdatePassword</button>
                    <button class="signup-btn"  type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/authentication">Switch to Sign Up</button>
                    <button class="login-btn"   type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/login">Switch to Log In</button>
                </div>
                <div *ngIf="alertMessageUpdatePassword" class="alert-message">
                    {{alertMessageUpdatePassword}}
                </div>
                <div *ngIf="succesfullMessageUpdatePassword" class="success-message">
                    {{succesfullMessageUpdatePassword}}
                </div>
            </form> 
            </div>
</div>