<div class="container">
        <div *ngIf="!resetPasswordFormSubmitted">
            <div class="title">Update your passoword</div>
        <form #recoverPasswordForm="ngForm" (ngSubmit)="onSubmitResetPassword(recoverPasswordForm)">
            <div class="form-group">
                <input type="email" id="email" placeholder="Email" class="form-control" ngModel name="email" required email/>
            </div>
            <br>
            <div class="buttons">
                <button class="send-email"  type="submit"  [disabled]="!recoverPasswordForm.valid">Send email</button>
                <button class="signup-btn"  type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/authentication">Switch to Sign Up</button>
                <button class="login-btn"   type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/login">Switch to Log In</button>
            </div>
            <div *ngIf="alertMessageResetEmail" class="alert-message" >
                {{alertMessageResetEmail}}
            </div>
        </form>
        </div>
        <div *ngIf="resetPasswordFormSubmitted">
            <div class="title">Update your password</div>
            <form #recoverPasswordForm="ngForm" (ngSubmit)="onSubmitUpdatePassword(recoverPasswordForm)">
                <div class="form-group">
                    <input type="{{ showPassword ? 'text' : 'password' }}" id="newPasword" placeholder="Password" class="form-control" ngModel name="newPassword" required password/>
                </div>
                <div class="form-group">
                    <input type="{{ showPassword ? 'text' : 'password' }}" id="confirmedPassword" placeholder="Confirm Password" class="form-control" ngModel name="confirmedPassword" required password/>
                </div>
                <div style="color: rgb(0, 0, 0); font-size: 13px;">
                    <input type="checkbox" [checked]="showPassword" (change)="togglePasswordVisibility()">
                    Show Password
                </div>
                <span class="info">Minimun 8 characters: 1 upercase, 1 lowercase, 1 figure</span>
                <div class="buttons">
                    <button class="update-pass" type="submit"  [disabled]="!recoverPasswordForm.valid"> Update Password</button>
                    <button class="signup-btn"  type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/authentication">Switch to Sign Up</button>
                    <button class="login-btn"   type="button"  [disabled]="recoverPasswordForm.valid" routerLink="/login">Switch to Log In</button>
                </div>
            </form> 
        </div>
</div>